
body {
    font-family: IRANSans;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    direction: rtl;
    background-color: #eff6f9;
}
.has-error{
    color: tomato;
}
a:hover {
    text-decoration: none;
}

.heroheader {
    height: 100vh;

}

.navbar-brand span {
    color: #fed136;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.1em;

}

.order-title {
    margin: 0 auto;
    text-align: center;
    display: table;
    padding: 1px 40px;
    background-color: #ff637d;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: inset 0 -2px 1px 0 #fff;
    border: 2px solid #ff637d;
}

.mynavbar {
    display: block;
}

.navbar-brand {
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;

}

.no-margin {
    margin: unset !important;;
}

.inside-btn {
    position: relative;
    top: -37px;
    height: 36px;
    left: 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #257d71 !important;
    color: white;
}

.fab {
    font-family: "Font Awesome 5 Brands";
}

.social-network .fab {
    font-style: unset;
    font-size: 33pt;
    margin-left: 15px;
}

.social-network a {
    opacity: .6;
    transition: 0.3s;
    display: table-cell;
    position: relative;
    right: 78px;
}

.social-network a:hover {
    opacity: 1;
}

.fa-instagram {
    color: #c32aa3;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-telegram {
    color: #0088cc;
}

.fa-facebook {
    color: #3b5998;
}

.img-enamad {
    display: table;
    margin: 0 auto;
}

.License {
    font-size: 13pt;
    display: flex;
    text-align: initial;
    margin-right: 10px;
}

.License a {
    color: white;
}

.original-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.carousel-indicators {
    right: 50%;
    left: 0;
    margin-right: -49%;
    top: 426px;
    margin-left: 0;
    padding-left: 0;
}

.navbar-custom-animate {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background: #000;
}

.navbar-fixed-top {
    height: 86px;
    top: 0;
    border: 0;

    background: -webkit-linear-gradient(to right, #4b6cb7, #182848);
    background: linear-gradient(to right, #4b6cb7, #182848);
    transition: background .5s ease-in-out, height .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out, height .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, height .5s ease-in-out;
    transition: background .5s ease-in-out, height .5s ease-in-out;

}

.btn-metrial {
    color: #fff;
    background-color: #26A69A;
    border-color: #26A69A;
}

.btn-metrial:hover {
    color: #fff;
    background-color: #2bbbad;
    border-color: #2bbbad;
}

.btn-metrial:focus,
.btn-metrial.focus {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.btn-metrial.disabled,
.btn-metrial:disabled {
    color: #fff;
    background-color: #26A69A;
    border-color: #26A69A;
}

.btn-metrial:not(:disabled):not(.disabled):active,
.btn-metrial:not(:disabled):not(.disabled).active,
.show > .btn-metrial.dropdown-toggle {
    color: #fff;
    background-color: #26A69A;
    border-color: #26A69A;
}

.btn-metrial:not(:disabled):not(.disabled):active:focus,
.btn-metrial:not(:disabled):not(.disabled).active:focus,
.show > .btn-metrial.dropdown-toggle:focus {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

/*rotate style*/
.image-rotate {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.image-rotate:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

/*end rotate style*/

.navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
}

.yellow {
    color: #fed136;

}

.navbar-expand-md .navbar-nav .dropdown-menu {
    border-top: 3px solid #fed136;
}

.dropdown-item:hover {
    background-color: #fed136;
    color: #fff;
}

.shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
}

.imgres {
    max-width: 100%;
    height: auto;
}

.featured-product-home {
    width: 100%;
}

.banner {
    height: auto;

    position: relative;
    background: #4b6cb7;
    background: -webkit-linear-gradient(to right, #4b6cb7, #182848);
    background: linear-gradient(to right, #4b6cb7, #182848);
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    border-bottom-left-radius: 40% 10%;
    border-bottom-right-radius: 40% 10%;
}

.banner p {
    margin-top: 179px;
}

.banner-text {
    padding: 200px 0 150px 0;
}

.btn-banner {
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.navbar-fix-custom {
    height: 50px;
    animation: fadeIn 1s;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: -webkit-linear-gradient(to right, #4b6cb7, #182848);
linear-gradient(to right, #4b6cb752, #182848)
}

#about h1 {

    margin-top: 29px;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

#about span {

    color: #fed136;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 158px;

}

#about h3 {
    font-size: 20px;
    margin-top: 8px;
    color: #666;
}

.big_rounded_icon,
.big_rounded_icon, .featured > .big_rounded_icon {
    border-radius: 100px;
    font-size: 30px;
    height: 150px;
    line-height: 150px;
    margin: auto;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 150px;
    display: inline-block;
    margin-right: 10px;
}

.icon-magic:before {

    font-style: normal;
    font-weight: normal;
    color: white;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    opacity: .8;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    font-size: 180%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.loaded1:before {
    font-family: "FontAwesome";
    content: "\f013";
}

.loaded2:before {
    font-family: "FontAwesome";
    content: "\f040";

}

.loaded3:before {
    font-family: "FontAwesome";
    content: "\f0ad";
}

.loaded4:before {
    font-family: "FontAwesome";
    content: "\f0d0";

}

.centered {
    display: block;
    margin: 0 auto;
}

.heading_icon1 {
    background-color: #70C5E1;
}

.heading_icon2 {
    background-color: #F4BF1E;
}

.heading_icon3 {
    background-color: #94C8AE;
}

.heading_icon4 {
    background-color: #BF9CDD;
}

/*we are section*/
#we-are .img-weare {
    margin: 0 auto;
    display: block;
}

#we-are .custom-text-weare {

}

#we-are h1 {
    margin-top: 29px;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 0.1em;

}

#we-are h2 {
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 10px;
    font-variant-caps: all-petite-caps;
}

#we-are span {
    color: #fed136;
}

/* product section */

.new-product {
    margin-bottom: 50px;
    margin-top: 100px;
    background-color: white;
    box-shadow: 0 13px 27px rgba(0, 0, 0, 0.25), 0 -4px 15px rgba(0, 0, 0, 0.22);

    border-radius: 20px;
    width: 99%;
    margin-right: 8px;
    height: 570px;
}

.order-title h2 {
    font-size: 16px;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 10px;
}

.new-product .product {
    position: relative;
    background: #ffffff;
    margin: 5px;
    border-radius: 5px;
    width: 266px;
    height: 402px;
}

.cover-single a:hover {
    color: #ff688f;
}

.new-product .product:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, .3);
}

.new-product .product figure {
    border-bottom: 1px solid #f0f2f5;
    position: relative;
    height: 230px;
    text-align: center;

}

.new-product .product figure img {
    margin: 0 auto;
    padding-top: 14px;
    width: 190px !important;
    height: 207px;
}

.new-product .product figcaption {
    position: absolute;
    top: 3px;
    right: 4px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;

}

.new-product .product figure:hover figcaption {
    opacity: 1;
    visibility: visible;
}

.new-product .product figcaption ul li {
    display: inline-block;
}

.new-product .product figcaption ul {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
}

.new-product .product figcaption ul li a {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 5px;
    color: #fafafa;
    line-height: 40px;
    background: #5fb7aa;

}

.new-product .product figcaption ul li a:hover {
    background: #ff688f;
}

.new-product .product .product-content {
    width: 100%;
    padding: 10px 20px 20px;
    text-align: center;
    font-size: 10px;

}

.new-product .product .product-content h2 {
    margin: 0;
    padding: 5px 0 20px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: ltr;
}

.new-product .product .product-content h2 a {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: ltr;

}

.new-product .product .product-content h2 a:hover {
    color: #5fb7ea;
}

.new-product .product .product-content .color-op {
    width: 100%;
    float: left;
    padding: 0 0 10px 68px;

}

.new-product .product .product-content .color-op ul li {
    float: left;
    text-align: center;
}

.new-product .product .product-content .color-op ul li + li:after {
    content: " - ";

}

.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images {
    opacity: 1 !important;
}

.new-product .product .product-content .price {
    color: #5fb7aa;
    font-size: 18px;
    padding: 5px 0;
    display: block;
    margin-right: 3px;
    margin-top: -15px;
    margin-bottom: 9px;
}

.new-product .product .product-content .price del {
    font-size: 10px;
    color: #616161;
    position: absolute;
    left: 22px;
    bottom: 56px;
    text-decoration: line-through;
}

.new-product .product .product-content .price ins {
    text-decoration: none;
}

.woocommerce-Price-amount .amount {
    text-decoration: none;

}

.new-product .product .product-content a.product-buy {
    display: block;
    height: 45px;
    background: #5fb7aa;
    padding: 15px 15px 0 0;
    position: absolute;
    right: -5px;
    bottom: 30px;
    font-size: 12px;
    color: #ffffff;
    z-index: 10;

}

.new-product .product .product-content a.product-buy:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -5px;
    right: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #5fb7ea;
    z-index: -2;
}

.new-product .product .product-content .product-buy:hover:after {
    border-left: 5px solid #ff688f;

}

.new-product .product .product-content .product-buy:hover {
    background-color: #ff688f;

}

.new-product .carousel-indicators {
    bottom: -35px;
    direction: ltr;
    padding: 0;
    width: 100%;
}

.carousel-indicators {

}

.new-product .carousel-indicators li {
    background: #bdbdbd;

}

.new-product .carousel-indicators li.active {
    background: #5fb7ea;

}

.new-product .carousel-control.left,
.carousel-control.right {
    background: transparent;
}

.new-product .carousel-control {
    height: 101px;
}

.carousel-control-product .glyphicon-chevron-left,
.icon-prev {
    margin-left: -70px;
    margin-top: 107px;
    width: 34px;
    height: 36px;
    padding: 2px;
    /* background: #cccc; */
    background-color: black;
    /* z-index: 50; */
    border-radius: 50%;
}

.carousel-control-product .glyphicon-chevron-right,
.icon-prev {
    margin-right: -70px;
    width: 34px;
    margin-top: 107px;
    height: 36px;
    padding: 2px;
    /* background: #cccc; */
    background-color: black;
    /* z-index: 50; */
    border-radius: 50%;
}

.new-product .carousel-control a {
    padding: 0;
}

/*metrial form */

.wrapper {
    background-color: transparent;
    min-height: 100%;
    padding: 60px 0;
}

.form-row {
    margin-left: -15px;
    margin-right: -15px;
}

.form-row .form-group {
    padding: 15px 15px 0;
    align-self: flex-end;
}

.form-group {
    position: relative;
    padding-top: 15px;
    margin-bottom: 30px;

}

.form-control {
    border: 0;
    border-radius: 0;
    padding: 10px 10px;
    background-color: transparent;
    position: relative;
    z-index: 2;
    font-size: 0.9rem;
}

.form-control:not(textarea) {
    height: 44px;
}

.form-control + label {
    position: absolute;
    z-index: 1;
    top: 25px;
    margin: 0;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    font-size: 10pt;
    right: 10px;
}

.form-control:focus {
    box-shadow: none;
    background-color: transparent;
}

.form-control:focus + label {
    color: #26c6da;
}

.form-control:focus + label, .form-control.has-value + label {
    font-size: 0.75rem;
    top: 0;
}

.no-js .form-control + label {
    font-size: 0.75rem;
    top: 0;
}

.form-row .form-control + label {

    right: 25px;
}

.form-row .line {
    left: 15px;
    right: 15px;
}
input[type=name]:focus {
    background-color: transparent;
}
.line {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #26c6da;
    background-image: -moz-linear-gradient(left, #26c6da 0%, #673ab7 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #26c6da), color-stop(100%, #673ab7));
    background-image: -webkit-linear-gradient(left, #26c6da 0%, #673ab7 100%);
    background-image: -o-linear-gradient(left, #26c6da 0%, #673ab7 100%);
    background: -ms-linear-gradient(left, #26c6da 0%, #673ab7 100%);
    background: linear-gradient(to right, #26c6da 0%, #673ab7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=1);
}

.line:after {
    content: "";
    height: 2px;
    position: absolute;
    display: block;
    background: #26c6da;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
    transform-origin: 0 0;
}

.form-control:focus ~ .line:after {
    transform: scaleX(1);
}

select.form-control:not([size]):not([multiple]) {
    height: 44px;
}

/*footer*/

footer {
    background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sta-title {
    border-bottom: 1px solid orange;
    width: 251px;
    display: inline-table
}

.sta-title p {
    white-space: pre;
}

footer p {
    color: #fff;
    font-size: 16px;
    padding: 20px;
    text-align: center
}

.site-section, .site-sta {
    font-size: 13px;
    color: #c3c3c3;
    padding-top: 10px;
}

.site-sta, .site-section i {
    font-size: 13pt;
    float: right;
    text-align: initial;
    margin-right: 10px;
}

.site-sta li {
    line-height: 34px;
    list-style: none;
}

.License li {
    line-height: 34px;
    list-style: none;
    margin-left: 19px;
}

.about-title {
    border-bottom: 1px solid orange;
    width: 251px;
    display: inline-table
}

.about-title p {
    white-space: pre;
}

.footer-about {
    margin-right: 4px;
    width: 332px;

    font-size: 12px;
    line-height: 2;

}

i.fa-th-list, i.fa-phone-square {
    margin-left: 10px;
    font-size: 20px;
    color: orange
}

i.fa-bookmark-o {
    margin-left: 10px;
    font-size: 20px;
    color: orange
}

i.fa-users {
    margin-left: 10px;
    font-size: 20px;
    color: orange
}

.site-sta i.fa {
    margin-left: 10px;
    color: orange
}

.License i.fa {

    color: orange
}

.copy-right {
    color: orange;
    font-size: 1rem;
}

.footer-link {
    display: table;
    margin: 0 auto
}

.footer-nav {
    border-top: 1px solid #2c2c2c;
}

.footer-link i {
    margin-left: 5px;
    color: orange
}

.footer-link li a {
    color: #c3c3c3
}

/*end footer*/
/* mobile view */
@media (max-width: 575px) {
    .navbar-nav {
        position: relative;
        background-color: #4765a6;
        border-top: 3px solid #fed136;
        color: #fff;
        z-index: 9999;
        text-align: right;
        margin-top: 5px;
    }

    .new-product .product {
        position: relative;
        background: #ffffff;
        margin: 5px;
        border-radius: 5px;
        width: auto;
        height: auto;
    }

    .footer-about {
        margin-right: 4px;
        width: auto;
        font-size: 12px;
        line-height: 2;
    }

    .new-product {
        width: 97%;
        margin: 56px auto;
        height: auto;
    }

    .banner p {
        margin: 20px;
    }

    .navbar-fix-custom {
        height: 73px;
    }

    .navbar-nav .nav-item .nav-link {
        padding: 0.7em 1em !important;
        font-size: 100%;
        font-weight: 500;
    }

    .banner-text {
        padding: 150px 0 150px 0;
    }

    .banner-heading {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .banner-sub-heading {
        font-size: 10px;
        font-weight: 200;
        line-height: 10px;
        margin-bottom: 40px;
    }

    .carousel-indicators {
        right: unset;
        left: unset;
        margin-right: unset;
        top: unset;
        margin-left: 37px;
        padding-left: 0;
    }

}

@media (max-width: 768px) {
    .carousel-indicators {
        right: unset;
        left: unset;
        margin-right: unset;
        top: unset;
        margin-left: 37px;
        padding-left: 0;
    }

    .navbar-nav {
        position: relative;
        background-color: #4765a6;
        border-top: 3px solid #fed136;
        color: #fff;
        z-index: 9999;
        text-align: right;
        margin-top: 5px;
    }

    .new-product .product {
        position: relative;
        background: #ffffff;
        margin: 5px;
        border-radius: 5px;
        width: auto;
        height: auto;
    }

    .footer-about {
        margin-right: 4px;
        width: auto;
        font-size: 12px;
        line-height: 2;
    }

    .new-product {
        width: 97%;
        margin: 56px auto;
        height: auto;
    }

    .banner p {
        margin: 20px;
    }

    .banner-text {
        padding: 150px 0 150px 0;
    }

    .banner-sub-heading {
        font-size: 23px;
        font-weight: 200;
        line-height: 23px;
        margin-bottom: 40px;
    }
}

/*slick*/

/* Slider */
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/*end slick*/
.shop_product {
    width: 100%;
    background: white;

    border-radius: 4px;

}

.shop_product_title {
    height: 40px;
    background: #F7F9FA;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.shop_product_title span {
    color: #46A349;
    height: 38px;
    line-height: 38px;
    font-size: 13px;
    font-weight: 100;
    padding-right: 15px;
}

.product_box {
    float: right;
    margin-right: 10px;
    transition: .3s;
}

.product_box:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}

.product_box:hover .product_image_box img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.title {
    margin-bottom: 20px;
}

.product_image_box {
    height: 241px;
    width: 100%;
    position: relative;
    min-height: 200px;
}

.product_image_box img {
    width: 80%;
    margin: auto;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    transition: .3s;

}
#address_form .form-group{

    position: relative;
    padding-top: 15px;
    margin-bottom: 30px;
    margin-left: 5px;
}

.product_box p {

    line-height: 11px;
    font-size: 12px;
    padding-top: 10px;

}

.product_box p a {
    color: #4a5f73;
    text-decoration: none;
    margin-left: 26px;

}

.new_product {
    margin-top: 52px;
}

.product_price {
    text-align: center;
    color: #ff637d;
    font-size: 17px !important;
}

.product_discounts {
    text-decoration: line-through;
    color: #999;
    text-align: center;
    height: 25px;
    padding-top: 7px !important;
}

.slick-next {
    right: 5px;
    z-index: 100;
    top: 43%;
}

.slick-next::before {
    content: "\f054";
    font-family: FontAwesome;
    color: black;
    font-size: 30px;
}

.slick-prev {
    left: 5px;
    z-index: 100;
    top: 43%;
}

.slick-prev::before {
    content: "\f053";
    font-family: FontAwesome;
    color: black;
    font-size: 30px;
}

/*amainzg style*/
.amazing_div {
    height: 411px;
    background: white;
    margin-top: 20px;
    border: 1px solid #EBECED;

    box-shadow: 0 13px 27px rgba(0, 0, 0, 0.25), 0 -4px 15px rgba(0, 0, 0, 0.22);
    border-radius: 20px;
    display: none;
}

.price1 {
    height: 32px;
    line-height: 37px;
    display: inline-block;
    vertical-align: top;
    background: #808080 none repeat scroll 0% 0%;
    position: relative;
    padding: 0px 14px;
    font-size: 18px;
    color: #E5E5E5;
    box-sizing: border-box;
    min-width: 76px;
    text-align: center;
    transition: all 150ms linear 0s;
}

.price1:before {
    content: "";
    position: absolute;
    left: 0px;
    right: 5px;
    border-bottom: 1px solid #000;
    top: 16px;
    z-index: 2;
    transform: rotate(-20deg);
    width: 90%;
    height: 0px;
    bottom: 0px;
}

.price1:after {
    content: "";
    position: absolute;
    left: -10px;
    top: 8px;
    border-right: 10px solid #808080;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    z-index: 2;
    transition: all 150ms linear 0s;
}

.price2 {
    height: 32px;
    display: inline-block;
    vertical-align: top;
    background: #F0413E none repeat scroll 0% 0%;
    margin-right: 2px;
    color: #FFF;
    padding: 0px 20px 0px 8px;
    position: relative;
    font-size: 18px;
    line-height: 37px;
    min-width: 147px;
    box-sizing: border-box;
    transition: all 150ms linear 0s;
    margin-right: 0px;
}

.price2:after {
    content: "";
    position: absolute;
    right: 0px;
    z-index: 1;
    top: 7px;
    border-right: 11px solid #FFF;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}

.flip-clock-divider .flip-clock-label {
    display: none;
}

.flip-clock-wrapper ul {
    width: 28px;
    height: 40px;
    padding: 0px;
    background: black;
    line-height: 40px;
    border-radius: 3px;
    margin: 2px;
}

.flip-clock-wrapper ul li a div div.inn {
    font-size: 20px;
    line-height: 93px;
    color: white;
    z-index: 100;
    background: black;
}

.flip-clock-wrapper .flip {
    box-shadow: none;
}

.flip-clock-dot.top {
    top: 13px;
    background: black;
}

.flip-clock-dot.bottom {
    bottom: 40px;
    background: black;
}

.flip-clock-dot {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    left: 3px;
    width: 5px;
    height: 5px;
}

.flip-clock-divider {
    height: 70px;
    width: 10px;
}

.flip-clock-wrapper {
    margin: 10px 0px 0px 0px;
    width: 215px;
}

.amazing_box {
    width: 100%;
    bottom: 15px;
    position: relative;
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.05);
    background: white;
    border-bottom-right-radius: 20px;
    height: 48px;
    border-bottom-left-radius: 20px;
}

.amazing_box .slick-list {
    padding-right: 55px;
}

.amazing_box .slick-prev {
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.05);
    background: #F6F7FA none repeat scroll 0% 0%;
    height: 48px;
    top: 50%;
    width: 30px;
    padding-right: 8px;
    padding-left: 2px;
    left: 0px;
    border-bottom-left-radius: 20px;
}

.amazing_box .slick-next {
    background: white;
    height: 48px;
    top: 50%;
    width: 30px;
    padding-right: 2px;
    padding-left: 8px;
    right: 0;
    z-index: 100;
    border-bottom-right-radius: 20px;
}

.amazing_footer {
    float: right;
    line-height: 48px;
    cursor: pointer;
    height: 48px;
    padding-right: 10px;
    padding-left: 10px;
}

/*single page product styles*/

#myTabs li {
    width: 185px;

    margin-right: 12px;
}

#myTabs li a.active {
     
    background-color: white;
    padding: 13px;
    white-space: pre;
    margin-right: 0px;
    border-top: 4px solid #00bfd6;

}

.tab-content {
    width: 100%;
}

.title_porduct_top {
    padding-top: 9px;
    border-bottom: 1px solid #eee;
}

.product-peice-title {
    color: #908d8d;
    font-size: 10pt;
    text-decoration: line-through;
}
.truck{
    margin-top: 25px;padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.truck-custom{

    color: #d6d6d6;
    font-size: 17pt;

}
.btn-info-custom {
    font-size: 1.286rem;
    line-height: 1.222;

    border-radius: 8px !important;
    background-color: #00bfd6;
    border: 1px solid #41a7b4;
    color: #fff;
    text-align: right;
    letter-spacing: -.7px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    cursor: pointer;
    height: 55px;
    position: relative;
    max-width: 380px;
    position: relative
}

.btn-info-custom:before {
    content: "\f053";
    font-family: FontAwesome;

}

.product-price .btn {
    border-right: solid #36CDDF 10px;
}

.hvr-sweep-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-left:before {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #36CDDF;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-left:hover,
.hvr-sweep-to-left:focus,
.hvr-sweep-to-left:active {
    color: white;
}

.hvr-sweep-to-left:hover:before,
.hvr-sweep-to-left:focus:before,
.hvr-sweep-to-left:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.fontawsome-size:not(p) {
    font-size: 12pt
}

.service-single {
    position: absolute;
    left: 1px;
    top: 1px;
    float: right;
    display: inline-block;
    border-radius: 12px;
    margin-top: 2vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: white;
}

.service-single i {
    font-size: 3vw;
    margin-top: 40px;
    color: #36CDDF;
}

.service-single span {
    text-align: center;
    display: block;
    opacity: .7;
    transition: all .3s;
}

.service-single span p {
    font-size: 13px;
    color: #b1abab;

}

.service-single span:hover {
    opacity: 1;
}

#product_info {
    margin-right: 11px;
    float: right;
    width: 600px;
}

.single-product-info {
    float: right;
    width: 100%;
    position: relative;
}
/*login register*/
.login-register{
    background-color: white;
}
.login-form{
    padding: 100px 100px; position: relative;
}
.register-form{
    padding: 100px 100px;
    position: relative;
}
.user-plus{
    position: absolute;
    right: 5px;
    left: 3px;
    color: #218838;
    top: 54px;
    text-align: center;
    font-size: 50pt;
}
.sign-in{
    position: absolute;
    right: 5px;
    left: 3px;
    color: #5780ad;
    top: 54px;
    text-align: center;
    font-size: 50pt;
}
.btn-danger{
    color: white !important;
    border-radius: 5px !important;

}
.w-98{
    max-width: 98%;
}
.show_product .list-inline{
    display: flex;
}
.show_product .list-inline a:last-child{
    line-height: 31px;
    color: black;
    cursor: auto;
}
.img-cover{
    display: table;
    margin: 50px auto 0 auto;
}
.img-cover img{
    border-radius: 5px;
}
.img-fluid-custom{

    max-width: 98%;
    height: auto;
    display: table;
    margin: 20px auto;

}
.property-item h6{
    margin-top: 30px;
    font-weight: 900;
    color: #675f5f;
}
.d-inline-custom{
    display: inline-block;
    margin-top: 17px;
}

.d-custom{
    position: relative;
}
.property-item ul li:before {
    content: "\f00c";
    font-family: FontAwesome, serif;
     position: relative;
    top: -2px;
     color: green;
    vertical-align: middle;
    margin-left: 5px;
    border-radius: 50%;
    float: right;
}
.property-item ul{
    padding-right: 0;
}
.property-item span{
    font-size: 14px;
    color: #777171;
}
.table tr:first-child  {
border-top:0 ;
}
